body {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    background-color: #000; /* 纯黑背景 */
    color: #fff; /* 白色字体 */
}

.container {
    display: flex;
    flex: 1;
}

.left-panel, .right-panel {
    padding: 20px;
}

.left-panel {
    flex: 5;
}

.right-panel {
    flex: 2;
    position: sticky;
    top: 20px; /* 调整到第一首歌的位置 */
    background-color: #111; /* 深灰悬浮框背景 */
    border-left: 1px solid #333; /* 分隔线 */
    height: fit-content; /* 自动适应内容高度 */
}

.right-panel h3 {
    margin-top: 0;
    color: #ffffff; /* 蓝色标题 */
}

.song-list {
    list-style: none;
    padding: 0;
}

.song-list li {
    margin: 10px 0;
}

.song-list a {
    text-decoration: none;
    color: #9bdef4;
}

.song-list a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table td {
    padding: 15px;
    border: 1px solid #333; /* 表格分隔线 */
    vertical-align: top;
    text-align: left; /* 所有歌词左对齐 */
}

table td:first-child {
    width: 50%; /* 日文歌词占一半 */
}

table td:last-child {
    width: 50%; /* 罗马音占一半 */
}

.song-title {
    font-weight: bold;
    font-size: 1.4em;
    color: #e9dee8; /* 黄色标题 */
    text-align: center;
    margin-bottom: 10px;
}
.right-panel {
    flex: 2;
    position: sticky;
    top: 20px; /* 上方距离屏幕边缘20px */
    background-color: #111; /* 深灰悬浮框背景 */
    border-left: 1px solid #333; /* 分隔线 */
    max-height: calc(100vh - 100px); /* 限制最大高度并预留上下间距 */
    overflow-y: auto; /* 超出内容启用滚动条 */
    padding-bottom: 20px; /* 下方距离屏幕边缘20px */
    height: fit-content; /* 默认高度适应内容 */
}
td {
    white-space: pre-line; /* 保留文本中的换行符 */
}

 /*** Liella! ***/
 .kanon {color: #ff7f27;}
 .kuku {color: #6ffff5;}
 .nako {color: #ff6e90;}
 .sumire {color: #74f466;}
 .ren {color: #4c4ced;}
 .kinako {color: #fff442;}
 .shiki {color: #5cb48e;}
 .mei {color: #ff3535;}
 .natsumi {color: #ff51c4;}
 .vn {color: #e49dfd;}
 .hana {color: #44cbda;}
 .Liella {color: #A5469B}
 .mao {color: #9A1B5A}
 .yuna {color: #FAC03B}
 .Sunny {color: #FF683D}